*{
    font-family: Georgia, 'Times New Roman', Times;
    margin: 0; /* ocupa todo o campo da pagina*/
    padding: 0; /* ocupa todo o campo da pagina*/
    text-decoration: none;
}
.menu{
    width: 100vw;
    position: fixed; /* deixa o head travado em cima da página*/
    top: 0; /* não tira o header de cima*/
    left:0; /* não tira o header do lado esquerdo*/
    display: flex;
    justify-content: space-between;
    background-color: rgb(250, 174, 4);
    padding-bottom: 2px;
}
.titulo{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#botoes{
    display: flex;
    justify-content:space-between;
    padding-right: 300px;
    padding-bottom: 20px;
    padding-top: 10px;
}
#botoes li{
    width: 200px;
    font-size: 20px;
  }
ul li button{
    border: none;
    box-shadow: 0px 0px 3px 3px white;
    font-size: large;
    height: 80px;
    width: 150px;
    padding-bottom: 5px;
    border-radius: 10px;
    background-color: rgb(250, 174, 4);
    color: black;
    transition: 0.5s;
}
button:hover{
    background-color: rgb(15, 15, 15);
    color: white;
}  
.menu ul li{
    display: flex;
    margin-left: 30px;
    height: 50px;
    justify-content: center;
}
.imagens{
    display: flex;
    position: relative;
}

.foto{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 350px;
    overflow: hidden;
    padding-top: 100px;
    padding-left: 100px;
}
.foto a {
    height: 100%;
    width: 100%;
}

.foto:hover img{
   transition-duration: 0.5s; 
   transform: scale(1.1);
}
.nome_img{
    position: absolute;
    text-align: center;
    padding-left: 20px;
    bottom: 10px;
    color: #fff;
    border-radius: 20px;
    width: 300px;
    background-color: #333;
    font-size: 30px;
    transition: .8s;
    opacity: 0;
}
.foto a:hover .nome_img{
    opacity: 0.9;
    
}
.fundo{
    display: flex;
    justify-content: space-between;
    background: rgb(250, 174, 4);
    height: 800px;
}
.rodape{
    background-color: rgb(47, 47, 47);
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 400wh;
    color: white;   
}
.rodape_itens {
    display: flex;
    flex-direction:column;
    padding-right: 380px ;
}
.info_1{
    line-height: 100px;
}
.rodape_itens a{
    padding-left: 30px;
    color: #fff;
}

